body{
    background: #BBD2C5;
    background: linear-gradient(180deg, #292E49, #536976);
    color: rgb(253, 253, 253);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
}
section{
    padding: 0;
}
header{
    margin: auto;
    padding-left: 6rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
}
blockquote{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-style: italic;
}
blockquote::before{
    content: open-quote;
    vertical-align: top;
}
blockquote::after{
    content: close-quote;
    vertical-align: bottom;
}
h1, h2, h3, h4, h5, h6{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
    color: rgb(194, 194, 194);
}
article{
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 6rem;
}
article:nth-child(odd){
    background-color: rgba(0, 255, 255, 0.1);
}